* {
    box-sizing: border-box;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
}

header .logo {
    width: 100%;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    height: 100%;
}